<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="jedenController.js"></script>
<link href="style.css" rel="stylesheet">
<head>
</head>

<body align="center" ng-app="myApp" ng-controller="myCtrl">
<header>
    <h1 align="center" style="color: white;">html</h1>
</header>

<div class="grid-container" ng-repeat="xx in kolejki">
    <h5 align="center">{{xx.name}} {{xx.date}}</h5>
    <ul>
        <li ng-repeat="x in xx.data">
            <div class="zdarzenie">
                {{x.name1}}
                <div class="radio-group">
                    <form>
                        <fieldset id="match1">
                            <label class="radio-inline">
                                <input type="radio" value="1" name="match1">
                                1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="x" name="match1">
                                x
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="2" name="match1">
                                2
                            </label>
                        </fieldset>
                    </form>
                </div>
                {{x.name2}}
            </div>
        </li>
    </ul>
</div>
</body>

</html>